
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<img src="~/Content/Images/aboutUs.jpg" class="img-fluid mb-3"/>




<h2>About Restaurant Reviews</h2>

<p>Here at Restaurant Reviews, we're all about good food and good times. Those two shouldn't be mutually exclusive. We want you to find the best
    eatery for whatever kind of foodie you are. We know what you like.</p>

