
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-dark">
    <h1 class="display-4">Let's eat some yummy food.</h1>
    <p>Excuse our dust while we do some magic on this page. </p>
</div>

